In [12]:
from googleroutes import CitiesRoutes
route1 = CitiesRoutes()

In [13]:
route1.retrieve_cities()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>accentcity</th>
      <th>city</th>
      <th>country</th>
      <th>geopoint</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>population</th>
      <th>region</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>London</td>
      <td>london</td>
      <td>gb</td>
      <td>[51.514125, -0.093689]</td>
      <td>51.514125</td>
      <td>-0.093689</td>
      <td>7421228.0</td>
      <td>H9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Birmingham</td>
      <td>birmingham</td>
      <td>gb</td>
      <td>[52.466667, -1.916667]</td>
      <td>52.466667</td>
      <td>-1.916667</td>
      <td>984336.0</td>
      <td>A7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Glasgow</td>
      <td>glasgow</td>
      <td>gb</td>
      <td>[55.833333, -4.25]</td>
      <td>55.833333</td>
      <td>-4.250000</td>
      <td>610271.0</td>
      <td>V2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Belfast</td>
      <td>belfast</td>
      <td>gb</td>
      <td>[54.583333, -5.933333]</td>
      <td>54.583333</td>
      <td>-5.933333</td>
      <td>585994.0</td>
      <td>R3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Liverpool</td>
      <td>liverpool</td>
      <td>gb</td>
      <td>[53.416667, -3.0]</td>
      <td>53.416667</td>
      <td>-3.000000</td>
      <td>468946.0</td>
      <td>H8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Leeds</td>
      <td>leeds</td>
      <td>gb</td>
      <td>[53.8, -1.583333]</td>
      <td>53.800000</td>
      <td>-1.583333</td>
      <td>455124.0</td>
      <td>H3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Sheffield</td>
      <td>sheffield</td>
      <td>gb</td>
      <td>[53.366667, -1.5]</td>
      <td>53.366667</td>
      <td>-1.500000</td>
      <td>447048.0</td>
      <td>L9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Edinburgh</td>
      <td>edinburgh</td>
      <td>gb</td>
      <td>[55.95, -3.2]</td>
      <td>55.950000</td>
      <td>-3.200000</td>
      <td>435794.0</td>
      <td>U8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Bristol</td>
      <td>bristol</td>
      <td>gb</td>
      <td>[51.45, -2.583333]</td>
      <td>51.450000</td>
      <td>-2.583333</td>
      <td>430714.0</td>
      <td>B7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Manchester</td>
      <td>manchester</td>
      <td>gb</td>
      <td>[53.5, -2.216667]</td>
      <td>53.500000</td>
      <td>-2.216667</td>
      <td>395516.0</td>
      <td>I2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Leicester</td>
      <td>leicester</td>
      <td>gb</td>
      <td>[52.633333, -1.133333]</td>
      <td>52.633333</td>
      <td>-1.133333</td>
      <td>339240.0</td>
      <td>H4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Leicester</td>
      <td>leicester</td>
      <td>gb</td>
      <td>[52.664913, -1.034894]</td>
      <td>52.664913</td>
      <td>-1.034894</td>
      <td>339240.0</td>
      <td>H5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Coventry</td>
      <td>coventry</td>
      <td>gb</td>
      <td>[52.416667, -1.55]</td>
      <td>52.416667</td>
      <td>-1.550000</td>
      <td>308314.0</td>
      <td>C7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Kingston upon Hull</td>
      <td>kingston upon hull</td>
      <td>gb</td>
      <td>[53.716667, -0.333333]</td>
      <td>53.716667</td>
      <td>-0.333333</td>
      <td>302297.0</td>
      <td>G6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Cardiff</td>
      <td>cardiff</td>
      <td>gb</td>
      <td>[51.5, -3.2]</td>
      <td>51.500000</td>
      <td>-3.200000</td>
      <td>302142.0</td>
      <td>X5</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Bradford</td>
      <td>bradford</td>
      <td>gb</td>
      <td>[53.783333, -1.75]</td>
      <td>53.783333</td>
      <td>-1.750000</td>
      <td>299310.0</td>
      <td>B4</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Stoke-on-Trent</td>
      <td>stoke-on-trent</td>
      <td>gb</td>
      <td>[53.0, -2.183333]</td>
      <td>53.000000</td>
      <td>-2.183333</td>
      <td>260420.0</td>
      <td>N4</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Wolverhampton</td>
      <td>wolverhampton</td>
      <td>gb</td>
      <td>[52.583333, -2.133333]</td>
      <td>52.583333</td>
      <td>-2.133333</td>
      <td>252792.0</td>
      <td>Q3</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Plymouth</td>
      <td>plymouth</td>
      <td>gb</td>
      <td>[50.396389, -4.138611]</td>
      <td>50.396389</td>
      <td>-4.138611</td>
      <td>247298.0</td>
      <td>K4</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Nottingham</td>
      <td>nottingham</td>
      <td>gb</td>
      <td>[52.966667, -1.166667]</td>
      <td>52.966667</td>
      <td>-1.166667</td>
      <td>246655.0</td>
      <td>J8</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Southampton</td>
      <td>southampton</td>
      <td>gb</td>
      <td>[50.9, -1.4]</td>
      <td>50.900000</td>
      <td>-1.400000</td>
      <td>246201.0</td>
      <td>M4</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Reading</td>
      <td>reading</td>
      <td>gb</td>
      <td>[51.433333, -1.0]</td>
      <td>51.433333</td>
      <td>-1.000000</td>
      <td>244071.0</td>
      <td>K7</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Derby</td>
      <td>derby</td>
      <td>gb</td>
      <td>[52.933333, -1.5]</td>
      <td>52.933333</td>
      <td>-1.500000</td>
      <td>235029.0</td>
      <td>D2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Dudley</td>
      <td>dudley</td>
      <td>gb</td>
      <td>[52.5, -2.083333]</td>
      <td>52.500000</td>
      <td>-2.083333</td>
      <td>199060.0</td>
      <td>D7</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Northampton</td>
      <td>northampton</td>
      <td>gb</td>
      <td>[52.25, -0.883333]</td>
      <td>52.250000</td>
      <td>-0.883333</td>
      <td>197323.0</td>
      <td>J1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Portsmouth</td>
      <td>portsmouth</td>
      <td>gb</td>
      <td>[50.7967, -1.083333]</td>
      <td>50.796700</td>
      <td>-1.083333</td>
      <td>194151.0</td>
      <td>K6</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Luton</td>
      <td>luton</td>
      <td>gb</td>
      <td>[51.883333, -0.416667]</td>
      <td>51.883333</td>
      <td>-0.416667</td>
      <td>193670.0</td>
      <td>I1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Newcastle upon Tyne</td>
      <td>newcastle upon tyne</td>
      <td>gb</td>
      <td>[54.988056, -1.619444]</td>
      <td>54.988056</td>
      <td>-1.619444</td>
      <td>192382.0</td>
      <td>I7</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Preston</td>
      <td>preston</td>
      <td>gb</td>
      <td>[53.766667, -2.716667]</td>
      <td>53.766667</td>
      <td>-2.716667</td>
      <td>190688.0</td>
      <td>H2</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Aberdeen</td>
      <td>aberdeen</td>
      <td>gb</td>
      <td>[57.133333, -2.1]</td>
      <td>57.133333</td>
      <td>-2.100000</td>
      <td>183791.0</td>
      <td>T5</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Sunderland</td>
      <td>sunderland</td>
      <td>gb</td>
      <td>[54.911944, -1.383333]</td>
      <td>54.911944</td>
      <td>-1.383333</td>
      <td>177965.0</td>
      <td>N6</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Norwich</td>
      <td>norwich</td>
      <td>gb</td>
      <td>[52.633333, 1.3]</td>
      <td>52.633333</td>
      <td>1.300000</td>
      <td>177636.0</td>
      <td>I9</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Bournemouth</td>
      <td>bournemouth</td>
      <td>gb</td>
      <td>[50.716667, -1.883333]</td>
      <td>50.716667</td>
      <td>-1.883333</td>
      <td>175017.0</td>
      <td>B2</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Walsall</td>
      <td>walsall</td>
      <td>gb</td>
      <td>[52.6, -2.0]</td>
      <td>52.600000</td>
      <td>-2.000000</td>
      <td>172142.0</td>
      <td>O8</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Swansea</td>
      <td>swansea</td>
      <td>gb</td>
      <td>[51.633333, -3.966667]</td>
      <td>51.633333</td>
      <td>-3.966667</td>
      <td>170885.0</td>
      <td>Z1</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Southend-on-Sea</td>
      <td>southend-on-sea</td>
      <td>gb</td>
      <td>[51.533333, 0.7]</td>
      <td>51.533333</td>
      <td>0.700000</td>
      <td>163378.0</td>
      <td>M5</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Swindon</td>
      <td>swindon</td>
      <td>gb</td>
      <td>[51.516667, -1.783333]</td>
      <td>51.516667</td>
      <td>-1.783333</td>
      <td>162439.0</td>
      <td>N9</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Oxford</td>
      <td>oxford</td>
      <td>gb</td>
      <td>[51.75, -1.25]</td>
      <td>51.750000</td>
      <td>-1.250000</td>
      <td>154567.0</td>
      <td>K2</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Dundee</td>
      <td>dundee</td>
      <td>gb</td>
      <td>[56.5, -2.966667]</td>
      <td>56.500000</td>
      <td>-2.966667</td>
      <td>151593.0</td>
      <td>U3</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Poole</td>
      <td>poole</td>
      <td>gb</td>
      <td>[50.716667, -2.0]</td>
      <td>50.716667</td>
      <td>-2.000000</td>
      <td>150092.0</td>
      <td>K5</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Huddersfield</td>
      <td>huddersfield</td>
      <td>gb</td>
      <td>[53.65, -1.783333]</td>
      <td>53.650000</td>
      <td>-1.783333</td>
      <td>149018.0</td>
      <td>G8</td>
    </tr>
    <tr>
      <th>41</th>
      <td>York</td>
      <td>york</td>
      <td>gb</td>
      <td>[53.954115, -1.064262]</td>
      <td>53.954115</td>
      <td>-1.064262</td>
      <td>144202.0</td>
      <td>Q5</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Ipswich</td>
      <td>ipswich</td>
      <td>gb</td>
      <td>[52.083333, 1.166667]</td>
      <td>52.083333</td>
      <td>1.166667</td>
      <td>143768.0</td>
      <td>N5</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
route1.add_duration()

London,+gb|Birmingham,+gb|Glasgow,+gb|Belfast,+gb|Liverpool,+gb|Leeds,+gb|Sheffield,+gb|Edinburgh,+gb|Bristol,+gb|Manchester,+gb|Leicester,+gb|Leicester,+gb|Coventry,+gb|Kingston+upon+Hull,+gb|Cardiff,+gb|Bradford,+gb|Stoke-on-Trent,+gb|Wolverhampton,+gb|Plymouth,+gb|Nottingham,+gb|Southampton,+gb|Reading,+gb|Derby,+gb|Dudley,+gb|Northampton,+gb|Portsmouth,+gb|Luton,+gb|Newcastle+upon+Tyne,+gb|Preston,+gb|Aberdeen,+gb|Sunderland,+gb|Norwich,+gb|Bournemouth,+gb|Walsall,+gb|Swansea,+gb|Southend-on-Sea,+gb|Swindon,+gb|Oxford,+gb|Dundee,+gb|Poole,+gb|Huddersfield,+gb|York,+gb|Ipswich,+gb

London,+gb|Birmingham,+gb|Glasgow,+gb|Belfast,+gb|Liverpool,+gb|Leeds,+gb|Sheffield,+gb|Edinburgh,+gb|Bristol,+gb|Manchester,+gb|Leicester,+gb|Leicester,+gb|Coventry,+gb|Kingston+upon+Hull,+gb|Cardiff,+gb|Bradford,+gb|Stoke-on-Trent,+gb|Wolverhampton,+gb|Plymouth,+gb|Nottingham,+gb|Southampton,+gb|Reading,+gb|Derby,+gb|Dudley,+gb|Northampton,+gb|Portsmouth,+gb|Luton,+gb|Newcastle+upon+Tyne,+gb|Preston,+gb|Aberdeen,+gb|Sunderland,+gb|Norwich,+gb|Bournemouth,+gb|Walsall,+gb|Swansea,+gb|Southend-on-Sea,+gb|Swindon,+gb|Oxford,+gb|Dundee,+gb|Poole,+gb|Huddersfield,+gb|York,+gb|Ipswich,+gb

            accentcity                city country                geopoint  \
0               London              london      gb  [51.514125, -0.093689]
1           Birmingham          birmingham      gb  [52.466667, -1.916667]
2              Glasgow             glasgow      gb      [55.833333, -4.25]
3              Belfast             belfast      gb  [54.583333, -5.933333]
4            Liverpool           liverpool      gb       [53.416667, -3.0]
5                Leeds               leeds      gb       [53.8, -1.583333]
6            Sheffield           sheffield      gb       [53.366667, -1.5]
7            Edinburgh           edinburgh      gb           [55.95, -3.2]
8              Bristol             bristol      gb      [51.45, -2.583333]
9           Manchester          manchester      gb       [53.5, -2.216667]
10           Leicester           leicester      gb  [52.633333, -1.133333]
11           Leicester           leicester      gb  [52.664913, -1.034894]
12            Coventry            coventry      gb      [52.416667, -1.55]
13  Kingston upon Hull  kingston upon hull      gb  [53.716667, -0.333333]
14             Cardiff             cardiff      gb            [51.5, -3.2]
15            Bradford            bradford      gb      [53.783333, -1.75]
16      Stoke-on-Trent      stoke-on-trent      gb       [53.0, -2.183333]
17       Wolverhampton       wolverhampton      gb  [52.583333, -2.133333]
18            Plymouth            plymouth      gb  [50.396389, -4.138611]
19          Nottingham          nottingham      gb  [52.966667, -1.166667]

     latitude  longitude  population region  dur_driving_val  dur_transit_val  \
0   51.514125  -0.093689   7421228.0     H9              666              176
1   52.466667  -1.916667    984336.0     A7             8569            15731
2   55.833333  -4.250000    610271.0     V2            24920            17834
3   54.583333  -5.933333    585994.0     R3            36660            39494
4   53.416667  -3.000000    468946.0     H8            15117            14834
5   53.800000  -1.583333    455124.0     H3            13429            11594
6   53.366667  -1.500000    447048.0     L9            12017            17531
7   55.950000  -3.200000    435794.0     U8            26825            28974
8   51.450000  -2.583333    430714.0     B7             8043            12286
9   53.500000  -2.216667    395516.0     I2            14523            16694
10  52.633333  -1.133333    339240.0     H4             8179             9958
11  52.664913  -1.034894    339240.0     H5             8179             9958
12  52.416667  -1.550000    308314.0     C7             7499            13031
13  53.716667  -0.333333    302297.0     G6            14486            12374
14  51.500000  -3.200000    302142.0     X5            10232            13079
15  53.783333  -1.750000    299310.0     B4            13998            23114
16  53.000000  -2.183333    260420.0     N4            10871            17452
17  52.583333  -2.133333    252792.0     Q3             9962            16931
18  50.396389  -4.138611    247298.0     K4            14736            22052
19  52.966667  -1.166667    246655.0     J8             9653            13660

     dur_driving_txt   dur_transit_txt  dur_ratio
0            11 mins            3 mins   3.784091
1    2 hours 23 mins   4 hours 22 mins   0.544721
2    6 hours 55 mins   4 hours 57 mins   1.397331
3   10 hours 11 mins  10 hours 58 mins   0.928242
4    4 hours 12 mins    4 hours 7 mins   1.019078
5    3 hours 44 mins   3 hours 13 mins   1.158272
6    3 hours 20 mins   4 hours 52 mins   0.685471
7    7 hours 27 mins    8 hours 3 mins   0.925830
8    2 hours 14 mins   3 hours 25 mins   0.654648
9     4 hours 2 mins   4 hours 38 mins   0.869953
10   2 hours 16 mins   2 hours 46 mins   0.821350
11   2 hours 16 mins   2 hours 46 mins   0.821350
12    2 hours 5 mins   3 hours 37 mins   0.575474
13     4 hours 1 min   3 hours 26 mins   1.170680
14   2 hours 51 mins   3 hours 38 mins   0.782323
15   3 hours 53 mins   6 hours 25 mins   0.605607
16     3 hours 1 min   4 hours 51 mins   0.622909
17   2 hours 46 mins   4 hours 42 mins   0.588388
18    4 hours 6 mins    6 hours 8 mins   0.668239
19   2 hours 41 mins   3 hours 48 mins   0.706662

In [17]:
route.draw()

NameError: name 'route' is not defined

NameError: name 'linspace' is not defined

$$c=\sqrt(a^2+b^2)$$