In [6]:
%matplotlib inline

In [7]:
from duration import Duration

In [8]:
dur1 = Duration()
dur1.cities_table.head(int(len(dur1) * 0.05))

,accentcity,city,country,geopoint,latitude,longitude,population,region
0,London,london,gb,"[51.514125, -0.093689]",51.514125,-0.093689,7421228.0,H9
1,Birmingham,birmingham,gb,"[52.466667, -1.916667]",52.466667,-1.916667,984336.0,A7
2,Glasgow,glasgow,gb,"[55.833333, -4.25]",55.833333,-4.250000,610271.0,V2
3,Belfast,belfast,gb,"[54.583333, -5.933333]",54.583333,-5.933333,585994.0,R3
4,Liverpool,liverpool,gb,"[53.416667, -3.0]",53.416667,-3.000000,468946.0,H8
5,Leeds,leeds,gb,"[53.8, -1.583333]",53.800000,-1.583333,455124.0,H3
6,Sheffield,sheffield,gb,"[53.366667, -1.5]",53.366667,-1.500000,447048.0,L9
7,Edinburgh,edinburgh,gb,"[55.95, -3.2]",55.950000,-3.200000,435794.0,U8
8,Bristol,bristol,gb,"[51.45, -2.583333]",51.450000,-2.583333,430714.0,B7
9,Manchester,manchester,gb,"[53.5, -2.216667]",53.500000,-2.216667,395516.0,I2
10,Leicester,leicester,gb,"[52.633333, -1.133333]",52.633333,-1.133333,339240.0,H4
11,Leicester,leicester,gb,"[52.664913, -1.034894]",52.664913,-1.034894,339240.0,H5
12,Coventry,coventry,gb,"[52.416667, -1.55]",52.416667,-1.550000,308314.0,C7
13,Kingston upon Hull,kingston upon hull,gb,"[53.716667, -0.333333]",53.716667,-0.333333,302297.0,G6
14,Cardiff,cardiff,gb,"[51.5, -3.2]",51.500000,-3.200000,302142.0,X5
15,Bradford,bradford,gb,"[53.783333, -1.75]",53.783333,-1.750000,299310.0,B4
16,Stoke-on-Trent,stoke-on-trent,gb,"[53.0, -2.183333]",53.000000,-2.183333,260420.0,N4
17,Wolverhampton,wolverhampton,gb,"[52.583333, -2.133333]",52.583333,-2.133333,252792.0,Q3
18,Plymouth,plymouth,gb,"[50.396389, -4.138611]",50.396389,-4.138611,247298.0,K4
19,Nottingham,nottingham,gb,"[52.966667, -1.166667]",52.966667,-1.166667,246655.0,J8
20,Southampton,southampton,gb,"[50.9, -1.4]",50.900000,-1.400000,246201.0,M4
21,Reading,reading,gb,"[51.433333, -1.0]",51.433333,-1.000000,244071.0,K7
22,Derby,derby,gb,"[52.933333, -1.5]",52.933333,-1.500000,235029.0,D2
23,Dudley,dudley,gb,"[52.5, -2.083333]",52.500000,-2.083333,199060.0,D7
24,Northampton,northampton,gb,"[52.25, -0.883333]",52.250000,-0.883333,197323.0,J1
25,Portsmouth,portsmouth,gb,"[50.7967, -1.083333]",50.796700,-1.083333,194151.0,K6
26,Luton,luton,gb,"[51.883333, -0.416667]",51.883333,-0.416667,193670.0,I1
27,Newcastle upon Tyne,newcastle upon tyne,gb,"[54.988056, -1.619444]",54.988056,-1.619444,192382.0,I7
28,Preston,preston,gb,"[53.766667, -2.716667]",53.766667,-2.716667,190688.0,H2
29,Aberdeen,aberdeen,gb,"[57.133333, -2.1]",57.133333,-2.100000,183791.0,T5
30,Sunderland,sunderland,gb,"[54.911944, -1.383333]",54.911944,-1.383333,177965.0,N6
31,Norwich,norwich,gb,"[52.633333, 1.3]",52.633333,1.300000,177636.0,I9
32,Bournemouth,bournemouth,gb,"[50.716667, -1.883333]",50.716667,-1.883333,175017.0,B2
33,Walsall,walsall,gb,"[52.6, -2.0]",52.600000,-2.000000,172142.0,O8
34,Swansea,swansea,gb,"[51.633333, -3.966667]",51.633333,-3.966667,170885.0,Z1
35,Southend-on-Sea,southend-on-sea,gb,"[51.533333, 0.7]",51.533333,0.700000,163378.0,M5
36,Swindon,swindon,gb,"[51.516667, -1.783333]",51.516667,-1.783333,162439.0,N9
37,Oxford,oxford,gb,"[51.75, -1.25]",51.750000,-1.250000,154567.0,K2
38,Dundee,dundee,gb,"[56.5, -2.966667]",56.500000,-2.966667,151593.0,U3
39,Poole,poole,gb,"[50.716667, -2.0]",50.716667,-2.000000,150092.0,K5
40,Huddersfield,huddersfield,gb,"[53.65, -1.783333]",53.650000,-1.783333,149018.0,G8
41,York,york,gb,"[53.954115, -1.064262]",53.954115,-1.064262,144202.0,Q5
42,Ipswich,ipswich,gb,"[52.083333, 1.166667]",52.083333,1.166667,143768.0,N5

In [12]:
dur1.add_duration()
dur1.cities_table_short.head()

   accentcity                geopoint  dur_ratio
0      London  [51.514125, -0.093689]   1.308855
1  Birmingham  [52.466667, -1.916667]        NaN
2     Glasgow      [55.833333, -4.25]   1.253963
3     Belfast  [54.583333, -5.933333]   0.877404
4   Liverpool       [53.416667, -3.0]   0.591065

In [2]:
import folium
my_map1 = folium.Map(location = [42, 1], 
                                        zoom_start = 12 ) 
# save method of Map object will create a map 
my_map1.save("my_map1.html" )
my_map1

<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,PCFET0NUWVBFIGh0bWw+CjxoZWFkPiAgICAKICAgIDxtZXRhIGh0dHAtZXF1aXY9ImNvbnRlbnQtdHlwZSIgY29udGVudD0idGV4dC9odG1sOyBjaGFyc2V0PVVURi04IiAvPgogICAgPHNjcmlwdD5MX1BSRUZFUl9DQU5WQVM9ZmFsc2U7IExfTk9fVE9VQ0g9ZmFsc2U7IExfRElTQUJMRV8zRD1mYWxzZTs8L3NjcmlwdD4KICAgIDxzY3JpcHQgc3JjPSJodHRwczovL2Nkbi5qc2RlbGl2ci5uZXQvbnBtL2xlYWZsZXRAMS4zLjQvZGlzdC9sZWFmbGV0LmpzIj48L3NjcmlwdD4KICAgIDxzY3JpcHQgc3JjPSJodHRwczovL2FqYXguZ29vZ2xlYXBpcy5jb20vYWpheC9saWJzL2pxdWVyeS8xLjExLjEvanF1ZXJ5Lm1pbi5qcyI+PC9zY3JpcHQ+CiAgICA8c2NyaXB0IHNyYz0iaHR0cHM6Ly9tYXhjZG4uYm9vdHN0cmFwY2RuLmNvbS9ib290c3RyYXAvMy4yLjAvanMvYm9vdHN0cmFwLm1pbi5qcyI+PC9zY3JpcHQ+CiAgICA8c2NyaXB0IHNyYz0iaHR0cHM6Ly9jZG5qcy5jbG91ZGZsYXJlLmNvbS9hamF4L2xpYnMvTGVhZmxldC5hd2Vzb21lLW1hcmtlcnMvMi4wLjIvbGVhZmxldC5hd2Vzb21lLW1hcmtlcnMuanMiPjwvc2NyaXB0PgogICAgPGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBocmVmPSJodHRwczovL2Nkbi5qc2RlbGl2ci5uZXQvbnBtL2xlYWZsZXRAMS4zLjQvZGlzdC9sZWFmbGV0LmNzcyIvPgogICAgPGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBocmVmPSJodHRwczovL21heGNkbi5ib290c3RyYXBjZG4uY29tL2Jvb3RzdHJhcC8zLjIuMC9jc3MvYm9vdHN0cmFwLm1pbi5jc3MiLz4KICAgIDxsaW5rIHJlbD0ic3R5bGVzaGVldCIgaHJlZj0iaHR0cHM6Ly9tYXhjZG4uYm9vdHN0cmFwY2RuLmNvbS9ib290c3RyYXAvMy4yLjAvY3NzL2Jvb3RzdHJhcC10aGVtZS5taW4uY3NzIi8+CiAgICA8bGluayByZWw9InN0eWxlc2hlZXQiIGhyZWY9Imh0dHBzOi8vbWF4Y2RuLmJvb3RzdHJhcGNkbi5jb20vZm9udC1hd2Vzb21lLzQuNi4zL2Nzcy9mb250LWF3ZXNvbWUubWluLmNzcyIvPgogICAgPGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBocmVmPSJodHRwczovL2NkbmpzLmNsb3VkZmxhcmUuY29tL2FqYXgvbGlicy9MZWFmbGV0LmF3ZXNvbWUtbWFya2Vycy8yLjAuMi9sZWFmbGV0LmF3ZXNvbWUtbWFya2Vycy5jc3MiLz4KICAgIDxsaW5rIHJlbD0ic3R5bGVzaGVldCIgaHJlZj0iaHR0cHM6Ly9yYXdjZG4uZ2l0aGFjay5jb20vcHl0aG9uLXZpc3VhbGl6YXRpb24vZm9saXVtL21hc3Rlci9mb2xpdW0vdGVtcGxhdGVzL2xlYWZsZXQuYXdlc29tZS5yb3RhdGUuY3NzIi8+CiAgICA8c3R5bGU+aHRtbCwgYm9keSB7d2lkdGg6IDEwMCU7aGVpZ2h0OiAxMDAlO21hcmdpbjogMDtwYWRkaW5nOiAwO308L3N0eWxlPgogICAgPHN0eWxlPiNtYXAge3Bvc2l0aW9uOmFic29sdXRlO3RvcDowO2JvdHRvbTowO3JpZ2h0OjA7bGVmdDowO308L3N0eWxlPgogICAgCiAgICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoLAogICAgICAgIGluaXRpYWwtc2NhbGU9MS4wLCBtYXhpbXVtLXNjYWxlPTEuMCwgdXNlci1zY2FsYWJsZT1ubyIgLz4KICAgIDxzdHlsZT4jbWFwX2NmNjQwYTE0NzE2ZjQwNjFiMjBlZDM1ZGE0N2NkODA4IHsKICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7CiAgICAgICAgd2lkdGg6IDEwMC4wJTsKICAgICAgICBoZWlnaHQ6IDEwMC4wJTsKICAgICAgICBsZWZ0OiAwLjAlOwogICAgICAgIHRvcDogMC4wJTsKICAgICAgICB9CiAgICA8L3N0eWxlPgo8L2hlYWQ+Cjxib2R5PiAgICAKICAgIAogICAgPGRpdiBjbGFzcz0iZm9saXVtLW1hcCIgaWQ9Im1hcF9jZjY0MGExNDcxNmY0MDYxYjIwZWQzNWRhNDdjZDgwOCIgPjwvZGl2Pgo8L2JvZHk+CjxzY3JpcHQ+ICAgIAogICAgCiAgICAKICAgICAgICB2YXIgYm91bmRzID0gbnVsbDsKICAgIAoKICAgIHZhciBtYXBfY2Y2NDBhMTQ3MTZmNDA2MWIyMGVkMzVkYTQ3Y2Q4MDggPSBMLm1hcCgKICAgICAgICAnbWFwX2NmNjQwYTE0NzE2ZjQwNjFiMjBlZDM1ZGE0N2NkODA4JywgewogICAgICAgIGNlbnRlcjogWzQyLCAxXSwKICAgICAgICB6b29tOiAxMiwKICAgICAgICBtYXhCb3VuZHM6IGJvdW5kcywKICAgICAgICBsYXllcnM6IFtdLAogICAgICAgIHdvcmxkQ29weUp1bXA6IGZhbHNlLAogICAgICAgIGNyczogTC5DUlMuRVBTRzM4NTcsCiAgICAgICAgem9vbUNvbnRyb2w6IHRydWUsCiAgICAgICAgfSk7CgogICAgCiAgICAKICAgIHZhciB0aWxlX2xheWVyXzI2YjUyYmY3Y2VmMjRhNjg5OTU5NGM4NTdjNTdmZGRhID0gTC50aWxlTGF5ZXIoCiAgICAgICAgJ2h0dHBzOi8ve3N9LnRpbGUub3BlbnN0cmVldG1hcC5vcmcve3p9L3t4fS97eX0ucG5nJywKICAgICAgICB7CiAgICAgICAgImF0dHJpYnV0aW9uIjogbnVsbCwKICAgICAgICAiZGV0ZWN0UmV0aW5hIjogZmFsc2UsCiAgICAgICAgIm1heE5hdGl2ZVpvb20iOiAxOCwKICAgICAgICAibWF4Wm9vbSI6IDE4LAogICAgICAgICJtaW5ab29tIjogMCwKICAgICAgICAibm9XcmFwIjogZmFsc2UsCiAgICAgICAgIm9wYWNpdHkiOiAxLAogICAgICAgICJzdWJkb21haW5zIjogImFiYyIsCiAgICAgICAgInRtcyI6IGZhbHNlCn0pLmFkZFRvKG1hcF9jZjY0MGExNDcxNmY0MDYxYjIwZWQzNWRhNDdjZDgwOCk7Cjwvc2NyaXB0Pg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>

NameError: name 'linspace' is not defined

$$c=\sqrt(a^2+b^2)$$